/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* colors */
  --background-color: white;
  --light-color: #f8f8f8;
  --dark-color: #505050;
  --darkest-color: #202020;
  --text-color: #131313;
  --link-color: #3b63fb;
  --link-hover-color: #1d3ecf;
  --link-bg-color:#ffea00;

  /* fonts */
  --body-font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  --heading-font-family: "Asar",Georgia,"Times New Roman",Times,serif;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 19px;
  --body-font-size-xs: 17px;

  /* heading sizes */
  --heading-font-size-xxl: 55px;
  --heading-font-size-xl: 44px;
  --heading-font-size-l: 34px;
  --heading-font-size-m: 27px;
  --heading-font-size-s: 24px;
  --heading-font-size-xs: 22px;

  /* nav height */
  --nav-height: 64px;
}

/* fallback fonts */
@font-face {
  font-family: "Asar";
  size-adjust: 88.82%;
  src: local('Arial');
}

@font-face {
  font-family: "Asar";
  size-adjust: 99.529%;
  src: local('Arial');
}

@media (width >= 900px) {
  :root {
    /* body sizes */
    --body-font-size-m: 18px;
    --body-font-size-s: 16px;
    --body-font-size-xs: 14px;

    /* heading sizes */
    --heading-font-size-xxl: 45px;
    --heading-font-size-xl: 36px;
    --heading-font-size-l: 28px;
    --heading-font-size-m: 22px;
    --heading-font-size-s: 20px;
    --heading-font-size-xs: 18px;
  }
}

body {
  display: none;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  line-height: 1.6;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

header .header,
footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1.25;
  scroll-margin: 40px;
}

h1 { font-size: var(--heading-font-size-xxl); }
h2 { font-size: var(--heading-font-size-xl); }
h3 { font-size: var(--heading-font-size-l); }
h4 { font-size: var(--heading-font-size-m); }
h5 { font-size: var(--heading-font-size-s); }
h6 { font-size: var(--heading-font-size-xs); }

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
}

code,
pre {
  font-size: var(--body-font-size-s);
}

pre {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--light-color);
  overflow-x: auto;
  white-space: pre;
}

main > div {
  margin: 40px 16px;
}

input,
textarea,
select,
button {
  font: inherit;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
  word-break: break-word;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/* buttons */
a.button:any-link,
button {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 12px 0;
  border: 2px solid transparent;
  border-radius: 2.4em;
  padding: 0.5em 1.2em;
  font-family: var(--body-font-family);
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  background-color: var(--link-color);
  color: var(--background-color);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; 
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary,
button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color);
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main > .section {
  margin: 40px 0;
}

main > .section > div {
  max-width: 1160px;
  margin: auto;
  padding: 0 24px;
}

main > .section:first-of-type {
  margin-top: 0;
}

@media (width >= 900px) {
main
{
  margin-top: 100px;
}
  main > .section > div {
    padding: 0 32px;
  }
}

/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
  margin: 0;
  padding: 40px 0;
}
/******   separator *************/
.separator
{
  clear: both;
  border-style: solid;
  border-width: 1px;
  color: #ebebeb;
  max-width: 1160px;
  margin: 0 auto 30px auto !important;
}
/***   section headings   ***/
.home-carousel .default-content-wrapper h2:after,
.home-adventures-carousel .default-content-wrapper h2:after,
.our-contributors h2:after,
.home-recent-articles h2:after,
.capstone-guides h2:after,
.faqs-content h1:after,
.adventures-tabs h2:after,
.magazine-members-area h2:after
 {
  border-bottom: 2px solid var(--brandPrimary,#ffea00);
  content: "";
  display: block;
  padding-top: 8px;
  width: 84px;
}
.home-carousel .default-content-wrapper h2,
.home-adventures-carousel .default-content-wrapper h2,
.our-contributors h2,
.home-recent-articles h2,
.capstone-guides h2,
.adventures-tabs h2,
.magazine-all-articles h2,
.magazine-members-area h2
 {
  margin-bottom: 30px;
}
/************  ellipsis text  ***********/
.home-recent-articles .cards-card-body p:last-child,
.adventures-tabs-content .column-content p:last-child,
.magazine-all-articles .cards-card-body p:last-child
{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/***   buttons/a ***/

.home-carousel .carousel-slide-content a,
.home-adventures-carousel .carousel-slide-content a,  
.home-featured-article a,
.home-featured-article .column-content a,
.home-recent-articles .button-container a,
.home-recent-trips .button-container a,
.button-container a
{
  background-color: var(--brandPrimary,#ffea00) !important;
  border-radius: var(--buttonBorderRadius,0) !important;
  color: var(--textColor,#202020) !important;
  font-size: var(--fontSizeSmall,14px) !important;
  font-weight: var(--fontWeightBold,600) !important;
  padding: 1em 2.5em !important;
  text-transform: uppercase !important;
}

/**  homepage ***/
.home-carousel .carousel-wrapper
{
  max-width: 100% !important;
  padding: 0 !important;
}
.home-carousel .carousel-slide-image
{
  height: 40pc;
}
.home-carousel .carousel .carousel-slide-indicator button
{
  width: 10px !important;
  height: 10px !important;
}
.home-carousel .carousel-slide-content
  {
  margin: 92px 92px 0px 92px !important;
  background-color: #fff !important;
  float: left !important;
  color: #000 !important;
  height: 180px !important;
  margin-top: -180px !important;
  min-height: 180px !important;
  padding-bottom: 0 !important;
  padding-left: 28px !important;
  padding-right: 28px !important;
  position: relative !important;
  width: 71pc !important;   
}
.home-carousel .carousel-slide-content h2
{
  margin-top: 0px;
}
.home-carousel .carousel-slide-indicators
{
  background-color: #fff !important;
}
.home-carousel .carousel-navigation-buttons
{    
  left: auto !important;
  right: 0 !important;
  width: 50px !important;
  justify-content: end !important;
  top: auto !important;
  bottom: -60px !important;
}
.home-carousel .carousel-navigation-buttons button
{
  background-color: transparent !important;
}
.home-carousel .carousel .carousel-navigation-buttons button::after
{
  color: #000 !important;
}
.home-featured-article .columns > div
{
  gap: 0 !important;
}
.home-featured-article .column-content:nth-child(1)
{
  flex:2;
}
.home-featured-article .column-content:last-child
{
  padding: 3.5rem 2rem 2rem;
  background-color: #ebebeb;
}
.home-recent-articles .cards > ul > li
{
  border: none !important;
}
.home-recent-articles .cards .cards-card-body
{
  margin: 0 !important;
}
.home-adventures-carousel .carousel-wrapper
{
  max-width: 100% !important;
  padding: 0 !important;
}
.home-adventures-carousel .carousel-slide-image
{
  height: 40pc;
}
.home-adventures-carousel .carousel .carousel-slide-indicator button
{
  width: 10px !important;
  height: 10px !important;
}
.home-adventures-carousel .carousel-slide-content
  {
  margin: 92px 92px 0px 92px !important;
  background-color: #fff !important;
  float: left !important;
  color: #000 !important;
  height: 180px !important;
  margin-top: -180px !important;
  min-height: 180px !important;
  padding-bottom: 0 !important;
  padding-left: 28px !important;
  padding-right: 28px !important;
  position: relative !important;
  width: 71pc !important;   
}
.home-adventures-carousel .carousel-slide-content h2
{
  margin-top: 0px;
}
.home-adventures-carousel .carousel-slide-indicators
{
  background-color: #fff !important;
}
.home-adventures-carousel .carousel-navigation-buttons
{    
  left: auto !important;
  right: 0 !important;
  width: 50px !important;
  justify-content: end !important;
  top: auto !important;
  bottom: -60px !important;
}
.home-adventures-carousel .carousel-navigation-buttons button
{
  background-color: transparent !important;
}
.home-adventures-carousel .carousel .carousel-navigation-buttons button::after
{
  color: #000 !important;
}
.home-adventures-carousel .carousel-slide-content
{
  padding-bottom: 40px !important;
}
.home-recent-trips .default-content-wrapper
{
  margin-bottom: 30px;
}
.home-recent-trips .cards-card-body p:last-child
{
  overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.home-recent-trips .cards > ul > li
{
  border: none !important;
}
.home-recent-trips .cards-card-body p:last-child
{
  overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.home-recent-trips .cards .cards-card-body
{
  margin: 0 !important;
}

/********** faqs page **********************************/
.faqs main
{
  display: flex;
  max-width: 1200px;
  margin:100px auto 0 auto;
}
.faqs-content{
  flex:2;
}
.faqs-content .accordion details
{
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
}
.magazine-all-articles ul li
{
  border: none !important;
}
.magazine-locked-section .cards > ul
{
  grid-template-columns: repeat(auto-fill, minmax(370px, 1fr)) !important;
}
.magazine-locked-section .cards > ul > li:before
{
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: -webkit-gradient(linear,right bottom,left top,from(hsla(0,0%,100%,0)),color-stop(50%,hsla(0,0%,100%,0)),color-stop(50%,var(--brandPrimary,#ffea00)),to(var(--brandPrimary,#ffea00)));
  background: linear-gradient(to top left,hsla(0,0%,100%,0) 0,hsla(0,0%,100%,0) 50%,var(--brandPrimary,#ffea00) 50%,var(--brandPrimary,#ffea00) 100%);
  color: #000;
  content: "î¦";
  font-family: wknd-icon-font!important;
  font-size: 1.25rem;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1;
  padding: 9pt;
  position: relative;
  text-transform: none;
  top: 49px;
  z-index: 2;
}
.magazine-locked-section .cards-card-image 
{
  height: 200px;
}
.magazine-locked-section .cards-card-image img
{
  height: 200px;
}
@media (min-width>=900px)
{
  .home-featured-article .column-content img
  {
    height: 554px;
  }
}


