.capstone-guides  .guides div p:last-child
{
  background-color: #202020;
    width: 50%;
    margin: 0 auto;
    display: flex;
    width: 150px;
    padding: 8px 0 0 0;
    justify-content: space-around;
}
.capstone-guides  .guides
{
    display: flex;
    gap:24px;
    justify-content: space-between;
  text-align: center;
  border: none;
}
.capstone-guides  .guides picture img
{
  border-radius: 50%;
    height: 164px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 164px;
}
.capstone-guides h2:after
{
  border-bottom: 2px solid var(--brandPrimary,#ffea00);
  content: "";
  display: block;
  padding-top: 8px;
  width: 84px;
}
.capstone-guides h2
 {
  margin-bottom: 30px;
}